SECRET_KEY=
DEBUG=False

DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

SFTP_HOST=
SFTP_PORT=
SFTP_USER=
SFTP_PASS=
SFTP_REMOTE_DIR=
COMPRAS_PMS_ARQUIVOS=af80101.sdb,afc0101.sdb,af90101.sdb,afa0101.sdb,afb0101.sdb,afg0101.sdb,sc70101.sdb,sd10101.sdb

CELERY_BROKER_URL=
CELERY_REDIS_SSL_CERT_REQS=required
CELERY_REDIS_VISIBILITY_TIMEOUT=3600
CELERY_REDIS_MAX_CONNECTIONS=10
CELERY_REDIS_SOCKET_TIMEOUT=30
CELERY_REDIS_SOCKET_CONNECT_TIMEOUT=30
CELERY_REDIS_HEALTH_CHECK_INTERVAL=30

TEAMS_WEBHOOK_URL=
TEAMS_TI_WEBHOOK_URL=
POWER_BI_API_KEY=

PROTHEUS_DB_ENGINE=
PROTHEUS_DB_NAME=
PROTHEUS_DB_HOST=
PROTHEUS_DB_PORT=
PROTHEUS_DB_USER=
PROTHEUS_DB_PASSWORD=
PROTHEUS_DB_OPTIONS_DRIVER=

