altair==6.1.0
amqp==5.3.1
anyio==4.13.0
asgiref==3.11.1
attrs==26.1.0
bcrypt==5.0.0
billiard==4.2.4
blinker==1.9.0
cachetools==7.0.6
celery==5.6.3
celery-types==0.26.0
certifi==2026.2.25
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cryptography==46.0.5
Django==4.2.30
django-filter==24.3
django-phonenumber-field==8.4.0
django-stubs==6.0.3
django-stubs-ext==6.0.3
django-widget-tweaks==1.5.1
djangorestframework==3.17.1
djangorestframework-stubs==3.16.9
dnspython==2.8.0
et_xmlfile==2.0.0
eventlet==0.41.0
gitdb==4.0.12
GitPython==3.1.49
greenlet==3.5.0
h11==0.16.0
httptools==0.7.1
idna==3.11
invoke==2.2.1
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
Markdown==3.10.2
MarkupSafe==3.0.3
memory==1.0.0
narwhals==2.20.0
numpy==2.4.3
openpyxl==3.1.5
packaging==26.2
pandas==3.0.1
paramiko==4.0.0
pillow==12.1.1
phonenumbers==9.0.32
prompt_toolkit==3.0.52
protobuf==7.34.1
psutil==7.2.2
psycopg2-binary==2.9.11
pyarrow==24.0.0
pycparser==3.0
pydeck==0.9.2
PyNaCl==1.6.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.27
redis==7.4.0
referencing==0.37.0
reportlab==4.2.5
requests==2.32.5
rpds-py==0.30.0
six==1.17.0
smmap==5.0.3
sqlparse==0.5.5
starlette==1.0.0
streamlit==1.57.0
tasks-py==1.0.3
tenacity==9.1.4
toml==0.10.2
types-PyYAML==6.0.12.20260408
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.46.0
vine==5.1.0
watchdog==6.0.0
wcwidth==0.6.0
websockets==16.0
xlrd==2.0.2
